* {
    margin: 0;
    padding: 0;
}


/* -----------------bannar----disgin-start --------------*/



.bannar {
    background-image: url(./banner/banner1.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.bannar-containt {
    text-align: center;
    margin: auto;
    padding: 200px;
    padding-left: 400px;

}

.bannar-heading {
    color: black;
    font-size: 50px;
    text-align: right;
    font-family: sans-serif;
    font-weight: 850;

}

.bannar-discription {
    font-size: 15px;
    text-align: right;
    margin-top: 10px;
}

.primary-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 15px;
    background-color: #F15B22;
    border-style: none;
    border-radius: 5px;
    margin-left: 500px;
    margin-top: 25px;
    text-align: right;

}

/* -----------------bannar----disgin-start --------------*/
.middel-part {
    display: flex;
    margin-top: 150px;
    width: 100%;
    height: 100vh;

}

.bannar2 {
    display: flex;
}

.middil-heading {
    font-size: 40px;
    text-align: left;
    margin-left: 100px;
    margin-top: 150px;
}

.discription {
    margin: 15px;
    font-size: 15px;
    align-items: left;
    margin-left: 100px;
    opacity: 80%;
    padding: 5px;

}

.list-item {
    list-style: none;
    align-items: left;
    margin-left: 100px;
    opacity: 80%;

}

.icon-align {
    display: flex;
    justify-content: center;
}

li {
    padding: 10px;
}

.section-3-title {
    font-size: 20px;
    text-align: center;
    margin-top: 300px;
}

.what-i-want {

    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;

}

.about-infor-containar {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    text-align: center;

}

.info-hading {
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.infor-description {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    
}
.images{
    width: 80px;
    padding: 10px;
}

.grediant{
    background-image: linear-gradient(to right,#ff6a14 0%,rgba(240,100,50,0)100%),url(./watch.png);
    width: 70%;
    height: 200px;
    background-size: cover;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    align-items: center;
    border-radius: 15px;
   
}

.watch-heading{
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: white;
}

.cuntact-button{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-style: none;
    color: #F15B22;
    border-radius: 5px;
}
.footer{
    
    display: flex;
    justify-content: space-between;
    background-color:black;
    color: white;
    border-radius: 15px;
    margin: 20px;
    padding: 150px;
}